.log-view{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: calc(100vh - 40px);
    width: 100%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.files-selector { 
    flex: 0 1 300px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    flex-wrap: nowrap;
}

.search-bar{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    column-gap: 15px;
    flex: 0 1 40%;
}

.log-level-text {
}

@media screen and (max-width: 900px) {
    .log-level-text {
        display:none;
    }
    .files-selector {
        flex: 0 1 200px;
    }

    .search-bar{
        flex: 0 1 100%;
    }
    
    .table-text {
        font-size: 9pt; 
    }
}

.log-table {
    flex: 0 1 100%;
    overflow-y: scroll;
}

::deep .log-info {
    color: dodgerblue;
}

::deep .log-warn {
    color: orange;
}

::deep .log-error {
    color: firebrick;
}