@if (Value != null)
{
    <div class="@PriceClass">
        @ValueStr
    </div>
}

@code {
    [Parameter]
    public decimal? Value { get; set; }

    [CascadingParameter] 
    protected bool DarkMode { get; set; }

    [Parameter] public ColorType Colours { get; set; } = ColorType.None;

    [Parameter] public Func<decimal, string> Formatter { get; set; } = x => $"£{Math.Round(x, 2):F2}";

    private string ValueStr => Formatter(Value!.Value);
    
    public enum ColorType
    {
        None,
        PositiveGreen,
        PositiveRed
    }
    
    private string PriceClass => "price " + (Math.Round(Value!.Value, 2), Colours, DarkMode) switch
    { 
        (< 0, ColorType.PositiveGreen, false) => "price-red",
        (> 0, ColorType.PositiveGreen, false) => "price-green",
        (< 0, ColorType.PositiveRed, false) => "price-green",
        (> 0, ColorType.PositiveRed, false) => "price-red",
        (< 0, ColorType.PositiveGreen, true) => "price-red-dark",
        (> 0, ColorType.PositiveGreen, true) => "price-green-dark",
        (< 0, ColorType.PositiveRed, true) => "price-green-dark",
        (> 0, ColorType.PositiveRed, true) => "price-red-dark",
        _ => string.Empty,
    };
}