.price {
    font-weight: bold;
    text-align: right;
}

.price-green {
    color: darkgreen;
}

.price-red {
    color: firebrick;
}

.price-red-dark {
    color: orangered;
}

.price-green-dark {
    color: green;
}
