
.price-green {
    font-weight: bold;
    color: green;
    text-align: right;
}

.price-red {
    font-weight: bold;
    color: firebrick;
    text-align: right;
}

.price-none {
    text-align: right;
}