.month-grouping {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
    font-weight: bold;
    width: 100%;
}

.grouping-header-item {
    min-width: 150px;
    max-width: 300px;
}

.missing-earnings {
    border-radius: 10px;
    border: 1px solid darkorange;
    color: darkorange;
    padding-left: 5px;
    padding-right: 3px;
    white-space: nowrap;
    opacity: 0.9;
}

.complete-data {
    border: 1px solid rgba(0,0,0,0);
}
.missing-data {
    border: 1px solid darkorange;
}