.chart-area {
    height: calc(100vh - 200px);
    width: 100%;
}

@media screen and (max-width: 900px) {
    .chart-area {
        height: calc(100vh - 400px);
        margin-bottom: 100px;
    }
}

.chart-tooltip {
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.chart-tooltip-title {
    display: flex;
    font-weight: bold;
    column-gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid darkgray;
}

.price-row { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}